:root {
  --color-rouge-red: rgba(226, 70, 102, 1);
  --color-charcoal-blue: rgba(45, 66, 86, 1);
  --color-cold-black: rgba(18, 18, 20, 1);
  --color-white: rgba(255, 255, 255, 1);
}
.btn-when .submenu {
  position: absolute;
  bottom: -386px;
  left: -50%;
  /* display: inline-flex; */
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 0px 0px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-rouge-red);
  z-index: 999;
}
.btn-when .submenu.show {
  display: flex;
}
.btn-when .submenu .calendar-wrap {
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .calendar-inner {
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0px 15px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.btn-when .submenu .text-wrapper {
  margin-top: -1px;
  color: #000000;
  font-size: 20px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.btn-when .submenu .weui-arrow-filled {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 8px;
  left: 13px;
  overflow: hidden;
  transform: rotate(90deg);
}

.btn-when .submenu .vector {
  transform: rotate(-90deg);
  position: relative;
  width: 8px;
  height: 14px;
  margin-top: -3px;
}

.btn-when .submenu .calendar {
  flex-direction: column;
  align-items: flex-start;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .week {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .item {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .div {
  margin-top: -1px;
  color: #ff0000;
  font-size: 12px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.btn-when .submenu .text-wrapper-2 {
  margin-top: -1px;
  color: #000000;
  font-size: 12px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.btn-when .submenu .day {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .itembox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.btn-when .submenu .div-wrapper {
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .text-wrapper-3 {
  color: #cccccc;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.btn-when .submenu .item-2 {
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .text-wrapper-4 {
  color: #000000;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.btn-when .submenu .text-wrapper-5 {
  color: #ff0000;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.btn-when .submenu .item-3 {
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .vector-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 8px;
  left: 253px;
  overflow: hidden;
  transform: rotate(-90deg);
}

.btn-when .submenu .img {
  transform: rotate(90deg);
  position: relative;
  width: 8px;
  height: 14px;
  margin-top: -3px;
}

.btn-when .submenu .week-2 {
  display: flex;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .day-2 {
  display: flex;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .item-4 {
  height: 40px;
  background-color: var(--color-rouge-red);
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .text-wrapper-6 {
  color: #ffffff;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.btn-when .submenu .item-5 {
  height: 40px;
  background-color: var(--color-rouge-red);
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .item-6 {
  height: 40px;
  background-color: var(--color-rouge-red);
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn-when .submenu .select-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 35px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #f5f5f5;
}

.btn-when .submenu .frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .text-wrapper-7 {
  margin-top: -1px;
  color: #aaaaaa;
  font-size: 14px;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.btn-when .submenu .frame-2 {
  align-items: center;
  padding: 8px;
  background-color: var(--color-charcoal-blue);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.btn-when .submenu .text-wrapper-8 {
  margin-top: -1px;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  width: fit-content;
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
