@charset "urf-8";
/* font */
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap");
.the-nautigal-regular {
  font-family: "The Nautigal", cursive;
  font-weight: 400;
  font-style: normal;
}
.the-nautigal-bold {
  font-family: "The Nautigal", cursive;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
/* font end */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #fff;
  font-size: 16px;
  color: #111;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #111;
}
ul,
ol,
li {
  list-style: none;
}

:root {
  /* Theme Colors */
  --main-color: #2d4059; /* 다크 블루그레이 */
  --accent-color: #ea5455; /* 코랄 레드 */
  --text-color: #111; /* 거의 블랙 */

  /* Gray Scale */
  --gray-light: #e0e0e0; /* 연한 회색 */
  --gray-medium: #9e9e9e; /* 중간 회색 */
  --gray-dark: #424242; /* 어두운 회색 */
}
