.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 슬라이드 텍스트 */
.swiper-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: clamp(400px, 53.7vh, 580px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 100px;
  /* background-color: red; */
}
.swiper-content-subtitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}
.swiper-content-maintitle {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
  font-family: "The Nautigal";
  font-size: 450px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 11.111% */
}
.swiper-content-title-desc {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.swiper-content-title-desc-txt {
  display: flex;
  align-items: flex-end;
}
.swiper-content-title-desc-txt p {
  color: #fff;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.5px;
}
.swiper-content-title-desc-txt span {
  color: #fff;
  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.5px;
}
.swiper-content-title-desc-button {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid #fff;

  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* 슬라이드 텍스트 end */

/* 시간초 비행기 */
.progress-bar {
  position: absolute;
  top: 67%;
  transform: translateY(-50%);
  left: 0;
  width: 1100px;
  height: 4px;
  background: none;
  z-index: 10;
}

.progress-track {
  /* 연한 선 */
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #888;  */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.progress-fill {
  /* 진한 선 */
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #fff;
  border-radius: 4px;
  transition: width 0.25s linear;
}

.plane-icon {
  position: absolute;
  top: -30px;
  left: 0%;
  font-size: 20px;
  transition: left 0.25s linear;
}
/* 시간초 비행기 end */
