.img-slide {
  width: 100%;
  height: 100vh;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 슬라이드 텍스트 */
.swiper-content {
  position: absolute;
  top: 49%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: clamp(400px, 60vh, 580px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 100px;
  /* background-color: red; */
}
.swiper-content-subtitle {
  color: #fff;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.2px;
}
.swiper-content-maintitle {
  color: #fff;
  /* leading-trim: both; */
  /* text-edge: cap; */
  text-overflow: ellipsis;
  font-family: "The Nautigal";
  font-size: 450px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 11.111% */
}
.je .swiper-content-maintitle {
  padding-bottom: 90px;
}
.ul .swiper-content-maintitle {
  transform: translateX(-24px);
}
.swiper-content-title-desc {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.swiper-content-title-desc-txt {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  /* background-color: rebeccapurple; */
}
.swiper-content-title-desc-txt p {
  color: #fff;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -1.5px;
  padding-bottom: 0.3rem;
}
.swiper-content-title-desc-txt span {
  color: #fff;
  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -2.5px;
}
.swiper-content-title-desc-button {
  display: flex;
  padding: 12px 28px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid #fff;

  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
/* 슬라이드 텍스트 end */
.swiper-content-title-desc-button:hover {
  background: rgba(226, 70, 102, 0.2);
  cursor: pointer;
}

/* 시간초 비행기 */
.progress-bar {
  position: absolute;
  top: 67%;
  transform: translateY(-50%);
  left: 0;
  width: 1100px;
  height: 4px;
  background: none;
  z-index: 10;
}

.progress-track {
  /* 연한 선 */
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #888;  */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

.progress-fill {
  /* 진한 선 */
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #fff;
  border-radius: 4px;
  transition: width 0.25s linear;
}

.plane-icon {
  position: absolute;
  top: -30px;
  left: 0%;
  font-size: 20px;
  transition: left 0.25s linear;
}
/* 시간초 비행기 end */

/* 일시정지 */
.swiper-toggle-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
.swiper-toggle-btn::before,
.swiper-toggle-btn::after {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 6px;
  width: 4px;
  background-color: #fff;
  transition: all 0.3s ease;
}
/* Pause 아이콘 (두 줄) */
.swiper-toggle-btn::before {
  left: 8px;
}
.swiper-toggle-btn::after {
  right: 8px;
}
/* ▶️ 재생 아이콘 (삼각형) 상태 */
.swiper-toggle-btn.playing::before {
  left: 12px;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid #fff;
  background: none;
}
.swiper-toggle-btn.playing::after {
  display: none;
}
/* 일시정지 end */
